swagger: '2.0'
info:
  version: '1.0'
  title: "Swipio"
  description: Performs swipio customers, products and categories management
host: zizit.lt
basePath: /zipkis/api
schemes:
- http
consumes:
- application/json
produces:
- application/xml
paths:
  /firebasecustomers:
    x-summary: Gets/creates prestashop consumer from firebase user
    get:
      summary: /firebasecustomers
      parameters:
        - name: Authorization
          in: header
          description: an authorization header
          required: true
          type: string
          default: Basic UktEN0FTWEpVR1IyUlFLQThNU0hSSkRTU1FQUjFIQUw6
        - name: uid
          in: query
          type: string
          required: true
          description: Firebase user id
      responses:
        200:
          description: Successful Response
          schema:
            type: integer
  /firebasecustomersextended:
    x-summary: Gets/creates prestashop consumer from firebase user
    get:
      summary: /firebasecustomersextended
      parameters:
        - name: Authorization
          in: header
          description: an authorization header
          required: true
          type: string
          default: Basic UktEN0FTWEpVR1IyUlFLQThNU0hSSkRTU1FQUjFIQUw6
        - name: uid
          in: query
          type: string
          required: true
          description: Firebase user id
      responses:
        200:
          description: Successful Response
          schema:
            type: object
            properties:
              isNew:
                type: boolean
              value:
                type: integer
  /countriesandstatesexpanded:
    x-summary: Gets prestashop countries and states in expanded format
    get:
      summary: /countriesandstatesexpanded
      parameters:
        - name: Authorization
          in: header
          description: an authorization header
          required: true
          type: string
          default: Basic UktEN0FTWEpVR1IyUlFLQThNU0hSSkRTU1FQUjFIQUw6
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                states:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
  /swipioproducts:
    x-summary: Gets swipio products
    get:
      summary: /swipioproducts
      parameters:
        - name: Authorization
          in: header
          description: an authorization header
          required: true
          type: string
          default: Basic UktEN0FTWEpVR1IyUlFLQThNU0hSSkRTU1FQUjFIQUw6
        - name: limit
          in: query
          type: string
          required: false
          description: y,x|x where x - number of records, y - starting record
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                xref:
                  type: string
  /swipioproductsexpanded:
    x-summary: Gets swipio products expanded inline
    get:
      summary: /swipioproductsexpanded
      parameters:
        - name: Authorization
          in: header
          description: an authorization header
          required: true
          type: string
          default: Basic UktEN0FTWEpVR1IyUlFLQThNU0hSSkRTU1FQUjFIQUw6
        - name: limit
          in: query
          type: string
          required: false
          description: y,x|x where x - number of records, y - starting record
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                orig_price:
                  type: number
                price:
                  type: number
                images:
                  type: object
                summary:
                  type: string
                description:
                  type: string
                options:
                  type: object
  /swipioproductexpanded:
    x-summary: Gets swipio product expanded inline
    get:
      summary: /swipioproductexpanded
      parameters:
        - name: Authorization
          in: header
          description: an authorization header
          required: true
          type: string
          default: Basic UktEN0FTWEpVR1IyUlFLQThNU0hSSkRTU1FQUjFIQUw6
        - name: pid
          in: query
          type: integer
          required: true
          description: product id
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                orig_price:
                  type: number
                price:
                  type: number
                images:
                  type: object
                summary:
                  type: string
                description:
                  type: string
                options:
                  type: object
  /swipiocategories:
    x-summary: Gets swipio categories for customer
    get:
      summary: /swipiocategories
      parameters:
        - name: Authorization
          in: header
          description: an authorization header
          required: true
          type: string
          default: Basic UktEN0FTWEpVR1IyUlFLQThNU0hSSkRTU1FQUjFIQUw6
        - name: cid
          in: query
          type: integer
          required: true
          description: customer id to get categories for
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                xref:
                  type: string
                favorite:
                  type: integer
                  enum: [0, 1]
  /swipiocategoriesbulkupdate:
    x-summary: Bulk updates swipio categories for customer
    get:
      summary: /swipiocategoriesbulkupdate
      parameters:
        - name: Authorization
          in: header
          description: an authorization header
          required: true
          type: string
          default: Basic UktEN0FTWEpVR1IyUlFLQThNU0hSSkRTU1FQUjFIQUw6
        - name: cid
          in: query
          type: integer
          required: true
          description: customer id to update categories for
        - name: fav_cat_ids
          in: query
          type: string
          required: true
          description: id1,id2,id3,... where id[x] is category id to make favorite. Other categories for this customer will become non favorite
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                xref:
                  type: string
                favorite:
                  type: integer
                  enum: [0, 1]
  /swipiocategoriesexpanded:
    x-summary: Gets swipio categories for customer, expanded inline
    get:
      summary: /swipiocategoriesexpanded
      parameters:
        - name: Authorization
          in: header
          description: an authorization header
          required: true
          type: string
          default: Basic UktEN0FTWEpVR1IyUlFLQThNU0hSSkRTU1FQUjFIQUw6
        - name: cid
          in: query
          type: integer
          required: false
          description: customer id to get categories for
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                favorite:
                  type: integer
                  enum: [0, 1]
                name:
                  type: string
  /swipiocategory/favorite:
    x-summary: Favorite Swipio category
    get:
      summary: /swipiocategory/favorite
      parameters:
        - name: Authorization
          in: header
          description: an authorization header
          required: true
          type: string
          default: Basic UktEN0FTWEpVR1IyUlFLQThNU0hSSkRTU1FQUjFIQUw6
        - name: cid
          in: query
          type: integer
          required: true
          description: customer id
        - name: cat_id
          in: query
          type: integer
          required: true
          description: category id
      responses:
        200:
          description: Successful Response
  /swipiocategory/unfavorite:
    x-summary: Unfavorite Swipio category
    get:
      summary: /swipiocategory/unfavorite
      parameters:
        - name: Authorization
          in: header
          description: an authorization header
          required: true
          type: string
          default: Basic UktEN0FTWEpVR1IyUlFLQThNU0hSSkRTU1FQUjFIQUw6
        - name: cid
          in: query
          type: integer
          required: true
          description: customer id
        - name: cat_id
          in: query
          type: integer
          required: true
          description: category id
      responses:
        200:
          description: Successful Response
  /swipioemail:
    x-summary: Send swipio themed email
    get:
      summary: /swipioemail
      parameters:
        - name: Authorization
          in: header
          description: an authorization header
          required: true
          type: string
          default: Basic UktEN0FTWEpVR1IyUlFLQThNU0hSSkRTU1FQUjFIQUw6
        - name: to
          in: query
          type: string
          required: true
          description: email receiver
        - name: subject
          in: query
          type: string
          required: true
          description: email subject
        - name: body
          in: query
          type: string
          required: true
          description: email body - \n new line
      responses:
        200:
          description: Successful Response
  /swipiocart:
    x-summary: Gets/autocreates prestashop cart from firebase user
    get:
      summary: /swipiocart
      parameters:
        - name: Authorization
          in: header
          description: an authorization header
          required: true
          type: string
          default: Basic UktEN0FTWEpVR1IyUlFLQThNU0hSSkRTU1FQUjFIQUw6
        - name: cid
          in: query
          type: integer
          required: true
          description: customer id to get cart for
      responses:
        200:
          description: Successful Response
          schema:
            type: object
            properties:
              id:
                type: integer
              cost:
                type: number
              discount:
                type: number
              total:
                type: number
              items:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    cmbid:
                      type: integer
                    quantity:
                      type: integer
  /swipiocart/destroy:
    x-summary: Destroys prestashop cart for firebase user
    get:
      summary: /swipiocart/destroy
      parameters:
        - name: Authorization
          in: header
          description: an authorization header
          required: true
          type: string
          default: Basic UktEN0FTWEpVR1IyUlFLQThNU0hSSkRTU1FQUjFIQUw6
        - name: cid
          in: query
          type: integer
          required: true
          description: customer id to destroy cart for
      responses:
        200:
          description: Successful Response
          schema:
            type: object
            properties:
              id:
                type: integer
              cost:
                type: number
              discount:
                type: number
              total:
                type: number
              items:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    cmbid:
                      type: integer
                    quantity:
                      type: integer
  /swipiocart/pay:
    x-summary: Marks as paid and destroys prestashop cart for firebase user
    get:
      summary: /swipiocart/pay
      parameters:
        - name: Authorization
          in: header
          description: an authorization header
          required: true
          type: string
          default: Basic UktEN0FTWEpVR1IyUlFLQThNU0hSSkRTU1FQUjFIQUw6
        - name: cid
          in: query
          type: integer
          required: true
          description: customer id to pay cart for
        - name: addressid
          in: query
          type: integer
          required: true
          description: customer address id to deliver order to
        - name: method
          in: query
          type: string
          required: true
          description: Payment method
      responses:
        200:
          description: Successful Response
          schema:
            type: object
            properties:
              id:
                type: integer
              items:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    cmbid:
                      type: integer
                    quantity:
                      type: integer
  /swipiocart/add:
    x-summary: Adds product to cart
    get:
      summary: /swipiocart/add
      parameters:
        - name: Authorization
          in: header
          description: an authorization header
          required: true
          type: string
          default: Basic UktEN0FTWEpVR1IyUlFLQThNU0hSSkRTU1FQUjFIQUw6
        - name: cid
          in: query
          type: integer
          required: true
          description: customer id to add product for
        - name: pid
          in: query
          type: integer
          required: true
          description: product id
        - name: cmbid
          in: query
          type: integer
          required: false
          description: combination id - if project has combinations
        - name: quantity
          in: query
          type: integer
          required: false
          description: quantity - 1, if not specified
      responses:
        200:
          description: Successful Response
          schema:
            type: object
            properties:
              id:
                type: integer
              cost:
                type: number
              discount:
                type: number
              total:
                type: number
              items:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    cmbid:
                      type: integer
                    quantity:
                      type: integer
  /swipiocart/update:
    x-summary: Adds/updates product to cart
    get:
      summary: /swipiocart/update
      parameters:
        - name: Authorization
          in: header
          description: an authorization header
          required: true
          type: string
          default: Basic UktEN0FTWEpVR1IyUlFLQThNU0hSSkRTU1FQUjFIQUw6
        - name: cid
          in: query
          type: integer
          required: true
          description: customer id to add product for
        - name: pid
          in: query
          type: integer
          required: true
          description: product id
        - name: cmbid
          in: query
          type: integer
          required: false
          description: combination id - if project has combinations
        - name: quantity
          in: query
          type: integer
          required: true
          description: quantity, can be negative
      responses:
        200:
          description: Successful Response
          schema:
            type: object
            properties:
              id:
                type: integer
              cost:
                type: number
              discount:
                type: number
              total:
                type: number
              items:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    cmbid:
                      type: integer
                    quantity:
                      type: integer
  /swipiocart/delete:
    x-summary: Deletes product to cart
    get:
      summary: /swipiocart/delete
      parameters:
        - name: Authorization
          in: header
          description: an authorization header
          required: true
          type: string
          default: Basic UktEN0FTWEpVR1IyUlFLQThNU0hSSkRTU1FQUjFIQUw6
        - name: cid
          in: query
          type: integer
          required: true
          description: customer id to add product for
        - name: pid
          in: query
          type: integer
          required: true
          description: product id
        - name: cmbid
          in: query
          type: integer
          required: false
          description: combination id - if project has combinations
      responses:
        200:
          description: Successful Response
          schema:
            type: object
            properties:
              id:
                type: integer
              cost:
                type: number
              discount:
                type: number
              total:
                type: number
              items:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    cmbid:
                      type: integer
                    quantity:
                      type: integer
  /swipiocart/discountcode:
    x-summary: Adds discount code to cart
    get:
      summary: /swipiocart/discountcode
      parameters:
        - name: Authorization
          in: header
          description: an authorization header
          required: true
          type: string
          default: Basic UktEN0FTWEpVR1IyUlFLQThNU0hSSkRTU1FQUjFIQUw6
        - name: cid
          in: query
          type: integer
          required: true
          description: customer id to add product for
        - name: code
          in: query
          type: string
          required: true
          description: discount code in prestashop
      responses:
        200:
          description: Successful Response
          schema:
            type: object
            properties:
              id:
                type: integer
              cost:
                type: number
              discount:
                type: number
              total:
                type: number
              items:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    cmbid:
                      type: integer
                    quantity:
                      type: integer